.container {
  display: flex;
  padding: .8em;
  gap: .8em;
}

.drop-box { border: 2px dashed violet; min-height: 150px; }

.box {
  height: var(--size);
  width: var(--size);
  display: inline-grid;
  place-items: center;
  font-weight: bold;
  font-size: 1.5em;
  /* Default color: operand */
  background-color: var(--operand-bg-color);
  color: #fff;
}
.box[draggable] { cursor: move; }

.box.operator { background-color: var(--operator-bg-color); }

.btn {
  margin: .5em auto;
  background-color: var(--primary-color);
  padding: .3em .5em;
  border: none;
  border-radius: .3em;
  cursor: pointer;
  display: block;
  font-size: 1.3rem;
}
.btn:hover {
  background-color: #253a62;
  color: #fff;
}
