body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Variables */
:root {
  /* Box size */
  --size: 150px;
  /* Operand box background-color */
  --operand-bg-color: green;
  /* Operator box background color */
  --operator-bg-color: brown;
  /* Primary color */
  --primary-color: #b2caf6;
  transition: all 0.3s ease-in-out;
}
